* {
    box-sizing: border-box;
    margin: 25px;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    max-height: 250px;
    margin: 50px;
}

button {
    padding: 10px;
}
